<!DOCTYPE html>
<html>
<head>
	<title>简历</title>
	<meta charset="utf-8">
</head>
<body>
<div ng-app="myCV">
	<input type="text" ng-model="lala">
	<p>{{ lala }}</p>
	<ul ng-controller="LinkCtrl">
		<li ng-repeat="link in links">
			<a href="#/{{ link }}">链接{{ link }}</a>
		</li>
	</ul>
	<div ng-controller="LinkCtrl3">
		<li ng-repeat="link in links">
			<a href="#/{{ link }}">链接{{ link }}</a>
		</li>
	</div> 
</div>

<script src="static/seajs/sea.js"></script>
    <script>
        // seajs 的简单配置
        seajs.config({
            base: "./static/seajs/",//这里的base是指sea.js的根目录
            alias: {//这里用来定义需要额外加载的辅助模块，必去jquery，在sea中使用jquery就必须在这里定义，具体方式请百度。。
            }
        });
        // 加载入口模块
        seajs.use("./static/js/main");//这里定义的是主模块路径，我们的主模块是main.js，这里可以省略js后缀。
   </script>
</body>
</html>